# py env
.venv/
venv/
env/

# py Cache
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
app/.cache/

# heavy files from kivy-ios / toolchain
.environment/
build/
dist/
/build/
/dist/

# tmp OS files and editors
.DS_Store
.idea/
.vscode/
.buildozer/
bin/
*.spec

# Compilation for iOS
myappwearable-ios/

# Others
Awareness Companion/